* {
  margin: 0;
  border: 0;
  padding: 0;
  list-style: none;
  font-family: "Roboto";
  border: none;
  outline: none;
}
.shared {
  background-color: rgb(182, 182, 182);
  width: 100%;
  height: 80vh;
}
.sharedContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
}
