* {
  margin: 0;
  border: 0;
  padding: 0;
  list-style: none;
  font-family: "Roboto";
  border: none;
  outline: none;
}
.container {
  border-radius: 20px;
  height: 65vh;
  width: 100%;
  transition: box-shadow 0.5s, height 0.5s, width 0.5s;
  cursor: pointer;
}
.container:hover {
  box-shadow: 0px 0px 41px -14px rgba(77, 77, 77, 1);
  height: 67vh;
  width: 103%;
}
.sharedTop {
  display: flex;
}
.itemImage {
  object-fit: cover;
  height: 45%;
  width: 95%;
  margin: 10px auto 10px auto;
  border-radius: 20px;
}
.sharedCenter,
.sharedBottom {
  padding-left: 5%;
  padding-right: 5%;
}
.sharedTitle {
  font-weight: 500;
  font-size: 100%;
}
.sharedText {
  margin-top: 12px;
  font-weight: 300;
}
.sharedBottom {
  margin-top: 15px;
  position: relative;
}
.sharedMp {
  text-decoration: line-through;
  font-weight: 300;
}
.sharedSp {
  font-weight: 500;
}
.sharedBottom button {
  position: absolute;
  top: -2px;
  right: 15px;
  height: 40px;
  width: 70px;
  border: 1px solid green;
  color: green;
  border-radius: 15px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}
@media only screen and (max-width: 767px) {
  .container {
    border-radius: 20px;
    height: 40vh;
    width: 100%;
    transition: box-shadow 0.5s, height 0.5s, width 0.5s;
    cursor: pointer;
  }
  .container:hover {
    height: 40vh;
    width: 100%;
  }
  .sharedTop {
    display: flex;
  }
}
